:root { 
--white_A700_7f:#ffffff7f; 
--black_900_7f:#0000007f; 
--orange_200_33:#ffcc7033; 
--white_A700_b2:#ffffffb2; 
--gray_500:#a5a5a5; 
--indigo_A200_01:#527ff6; 
--indigo_A200:#4270ec; 
--purple_300_33:#c850c033; 
--orange_200:#ffcc70; 
--blue_50:#ecf0fc; 
--white_A700_99:#ffffff99; 
--black_900_cc:#000000cc; 
--black_900:#000000; 
--deep_orange_600:#f15a2b; 
--yellow_700:#f0bb1f; 
--indigo_500_33:#4158d033; 
--blue_gray_800:#394149; 
--cyan_900:#006380; 
--purple_A100:#e16dd9; 
--white_A700:#ffffff; 
}